/** Reset **/

:root {
    --main-bg-color: rgba(255, 255, 255, 1);
    --primary-btn-color: rgba(51, 51, 51, 0.88);
    --filter-grid-background:background-color: rgba(255, 255, 255, 0.75);
    --main-font: "Roboto", sans-serif;
    --title-font: "Lobster", sans-serif;
    --found-message-font: "Archivo", sans-serif;
    --main-title-font-md: 1.875rem;
    --main-title-font-sm: 1rem;
    --main-title-font-lg: 2.7rem;
    --filter-font-sm: 0.875rem;
    --filter-font-lg: 0.93rem;
    --filter-font-xl: 1.1rem;
    --filter-font-btn-sm: var(--filter-font-sm);
    --filter-font-btn-lg: 1.125rem;
    --header-bkgd-img-size-sm: 100% 100%;
    --header-bkgd-img-size-md: 100% 125%;
    --header-bkgd-img-size-lg: 100% 150%;
    --filter-icon-bkgd-size-sm: 0.875rem 1rem;
    --filter-icon-bkgd-size-lg: 1rem 1rem;

}
html,
body {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    font-size: 16px;
    font-family: var(--main-font);
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

a {
    list-style: none;
    text-decoration: none;
    color: var(--main-bg-color);

}

/** Header **/

.header {
    background-image: radial-gradient(
            224.24% 668.5% at 14.41% -14.14%,
            rgba(0, 0, 0, 0.57) 44.5%,
            rgba(255, 255, 255, 0) 67.11%
        ),
        url(./assets/Frame\ 23.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    padding: 3rem 3rem 5rem;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.menu {
    gap: 21rem;
    display: flex;
    align-items: baseline;  
}

.menu__container {
    display: flex;
    gap: 6rem;
}

.title {
    font-family: var(--title-font);
    display: flex;
    padding-bottom: 2rem;
    font-size: var(--main-title-font-md)
}

.message__found {
    display: block;
    font-family: var(--found-message-font);
    padding-top: 1rem;
}

.subtitle {
    font-size: var(--main-title-font-lg);
    font-weight: bold;
    padding-bottom: 1rem;
}

.all__hotels__text {
    display: flex;
    font-size: var(--main-title-font-sm);
    padding-bottom: 2rem;
}

.filter__container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 2.4rem;
    background-color: transparent;
    border-radius: 0.375rem;
}

.filter__grid {
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 0.5rem;
    font-size: var(--filter-font-lg);
}

.filter__grid>* {
    flex: 1;
    font-size: var(--filter-font-lg);
}

.filter__icon {
    background-color:rgba(255, 255, 255, 0.75);
    background-repeat: no-repeat;
    background-position-x: 0.312rem;
    background-position-y: center;
    padding-left: 1.5rem;
}

.filter__country {
    background: url(./assets/country.svg);
    background-color:rgba(255, 255, 255, 0.75);
    background-repeat: no-repeat;
    background-position-x: 0.312rem;
    background-size: var(--filter-icon-bkgd-size-lg);
    background-position-y: center;
}

.filter__stars {
    background: url(./assets/star-svgrepo-com.svg);
    background-size: 0.8rem;
    background-color:rgba(255, 255, 255, 0.75);
    background-repeat: no-repeat;
    background-position-x: 0.312rem;
    background-position-y: center;
}

.filter__size {
    background: url(./assets/bed.svg);
    background-size: 0.8rem;
    background-color:rgba(255, 255, 255, 0.75);
    background-repeat: no-repeat;
    background-position-x: 0.312rem;
    background-position-y: center;
}

.filter__date__in {
    background: url(./assets/in.svg);
    background-size: 0.8rem;
    background-color:rgba(255, 255, 255, 0.75);
    background-repeat: no-repeat;
    background-position-x: 0.312rem;
    background-position-y: center;
}

.filter__date__out {
    background: url(./assets/out.svg);
    background-size: 0.8rem;
    background-color:rgba(255, 255, 255, 0.75);
    background-repeat: no-repeat;
    background-position-x: 0.312rem;
    background-position-y: center;
}

.buttons__filter {
    max-width: 5rem;
    border-radius: .5rem;
    border: 2px solid white;
    background-color: #333;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.container__hotels {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1rem 1rem;
}

/** Cards **/

.card__hotel {
    position: relative;
    border-radius: 1rem;
    width: 100%;
    height: auto;
    height: 24vw;
    overflow: hidden;
}

.card__hotel:hover {
    .container__description{
        display: flex;
    } 
    .hotel__image {
        filter: brightness(0.5);
    }
}

.hotel__image {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    filter: brightness(0.7);
}        

.container__info{
    display: flex;
    flex-flow: column wrap;
    position: relative;
    z-index: 1;
    top: -6rem;
    right: -.7rem;
    
}

.hotel__title{
    color: #ffffff;

}    
.button__book__it {
    border-radius: .5rem;
    border: 2px solid white;
    background-color: #333;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 0.5rem ; 
    cursor: pointer;
    width: 5.5rem;
    display: flex;
    position: absolute;
    top: 1.5rem;
    left: 22.5rem;
}    

/* Container information of the country */
.container__info__country {
    display: flex;
    align-items: center;
    padding-top: .5rem;
    color: #ffffff;

}    

.flag__country{
    width: 1.5rem;
    height: 1.5rem;
    padding-right:.5rem ;
}


/* Container size and stars of hotels */
.category__and__size{
    display: flex;
    align-items: center;
    padding: .3rem;
    color: #ffffff;
}

.stars__hotel{
    padding: 0 1rem;
    align-items: center;
}

.container__description{
    display: none;
    position: absolute;
    top: 1rem;
    z-index: 4;
    color: #ffffff;
    height: 25rem;
    width: 100%;

}

.description__hotel{
    display: flex;
    max-width: 75%;
    font-size: 1rem;
    margin: initial;
    padding: 1rem;
}

.container__no__found{
    display: flex;
    justify-content: flex-start;
    color: #004085;
    background-color: #cce5ff;
    align-items: center;
    padding: .5rem;
    margin: 0 1rem;
    border: .1px solid #00000072;
    border-radius:1rem ;

}

.icon__no__found{
    width: 2.5rem;
    height: 1.5rem;
    padding-right:.5rem ;
}

.text__no__found{
    display: flex;
    border-radius: .7rem;
    color: #004085;
    font-size: 1.1rem;
    align-items: center;
   
}

